/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
    /****************************** HOMEPAGE ************************************/
    /* GENERAL STYLES */
    html {
      font-size: 16px;
    }
  
    body {
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
      color: #e2e3ed;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background-color: #282828;
      background-size: cover;
    }
  
    .container {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
  
    ul {
      list-style-type: none;
    }
  
    a {
      font-size: 1.125em;
      font-family: 'Open Sans', sans-serif;
      color: #e2e3ed;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
    }
  
  
  
    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 2.25em;
    }
  
    h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.875em;
    }
  
    h3 {
      font-family: 'Poppins', sans-serif;
      font-size: 1.125em;
    }
  
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875em;
    }
  
    img {
  
    }
  
    figure {
  
    }
  
    address {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875em;
      font-style: normal;
    }
  
    /*************** HEADER STYLES *****************************************/
  
    
    header, footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
    
    /*
    .top-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }*/
  
    .header-divider {
      width: 100%;
      margin-top: 10px;
      border-bottom: 1px solid #e2e3ed;
    }
  
    .logo {
      padding-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    nav {
      padding-top: 20px;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    nav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    /* HERO AREA */
    .hero-area {
      /*margin-left: 20px;*/
      /*padding-left: 25px;*/
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .hero-area h1 {
      width: 80%;
      padding-top: 50px;
    }
  
    /* FORM */
    
    .form {
      padding: 30px 0 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background-color: #527158;
      background-size: cover;
    }
  
    
    input[type=text] {
      box-sizing: border-box;
      width: 100%;
      color: ;
      font-style: italic;
      padding: .875em;
    }
  
    input[type=button] {
      width: 100%;
      padding: 20px 0;
      margin-top: 20px;
      background-color: #2a423a;
      font-weight: 500;
      font-size: 1.125em;
      color: #e2e3ed;
      border: none;
      text-align: center;
      text-transform: uppercase;
    }
    
  
    .form-description, .form-info {
      /*padding-left: 25px;*/
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
    }
  
    .form-description h3 {
      width: 70%;
    }
  
    .form-description p {
      width: 90%;
    }
  
    .form-info h3 {
      width: 100%;
    }
    
  
    /* ITINERARY */
  
    .itinerary {
      padding-top: 50px;
      padding-bottom: 65px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: row wrap;
      background: url(../img/rawpixel-800820-unsplash1.jpg) center no-repeat;
      
    }
  
    .itinerary-title {
      /*padding-left: 25px;*/  /*This class needs to be 100% so items start on the next line*/
      width: 100%;
    }
  
    .itinerary-title h2 {
      width: 90%;             /*The h2 is a width of 90%*/
    }
    
    .items {
      width: 55%;           /*The paragraphs are narrow so i made the items div their max width*/
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
  
    .items p {
      text-align: center;
      width: 100%;            /*The paragraphs will take up 100% of the item div width*/
    }
  
    /* TESTIMONIAL */
  
    .testimony {
      width: 100%;
      padding: 55px 0 50px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background-color: #2a423a;
      background-size: cover;
    }
  
    .testimony .container {
      width: 90%;
    }
  
    .testimony-title, .testimony-img, .testimony-contents {
      width: 100%;
      /*padding-left: 25px;*/
    }
  
    .testimony-title h2 {
      width: 80%;
    }
  
    .testimony-contents h3 {
      width: 50%;
    }
  
    .testimony-contents p {
      width: 90%;
    }
  
    /* FOOTER */
  
    footer {
      padding-top: 50px;
    }
  
    .copy{
      padding-top: 50px;
    }
  
    .contact-info, .social-media, .copy {
      width: 100%;
      text-align: center;
    }
  
    .social-media ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
  
    .social-media ul li {
    }
  
    /************************ ABOUT ******************************/
  
    .mission {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      padding: 50px 0;
      background-color: #527158;
    }
  
    .mission-title {
      width: 100%;
    }
  
    /* MISSION */
    .mission-contents {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    }
  
    .mission-contents p {
      width: 100%;
    }
  
    /* CONTACT US */
  
    .contact-us {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background-color: #2a423a;
      padding-bottom: 50px;
    }
  
    .contact-us .container {
      width: 90%;
    }
  
    /*
    .contact-us h2 {
      width: 100%;
    }
    */
  
    .general-info, .chat {
      width: 100%;
    }
    
  
    /************************ FAQ ******************************/
  
    .questions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      background-color: #527158;
      padding: 50px 0;
    }
  
    .questions .container {
      width: 90%;
    }
  
  
    .faq-questions-title {
      width: 100%;
    }
    .faq-item {
      width: 100%;
    }
  
    /*********************** TABLET STYLES *************************************/
  
    @media (min-width: 768px) {
      /* HEADER STYLES */
      header {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
      }
  
      header .container {
        width: 100%;                /*this puts nav at right side all the way. dunno why*/
        justify-content: space-between;   /*space between logo and nav*/
      }
  
      .logo {
        /*padding-left: 25px;*/
        width: 50%;
        justify-content: flex-start;
      }
  
      .header-divider {
        display: none;
      }
  
      .nav {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      nav ul {
        margin: 0;
        padding: 0;
        width: 90%;
        display: flex;
        justify-content: flex-end;
      }
  
      nav ul li {
        padding-left: 40px;
      }
  
      .hero-area h1 {
        width: 70%;
      }
      /* FORM STYLES */
      .form {
        /*align-items: flex-start;*/
      }
      
      .form .container {
  
        align-items: flex-start;
      }
      .form-description, .form-info {
        width: 50%;
      }
    
      /*
      .form-description h3, .form-description input[type=text], .form-description input[type=button] {
        width: 70%;
      }
      */
    
      .form-info h3 {
        width: 100%;
      }
  
      /* ITINERARY STYLES */
  
      .itinerary {
        justify-content: space-around;
      }
  
      .items {
        width: 35%;
      }
  
      .items p {
        width: 70%;         /*This controls the width of the paragraph and icons in this div*/
      }
  
      /* TESTIMONIALS STYLES */
  
      .testimony {
        width: 100%;
        justify-content: center;    /*text sticks to left side without this*/
      }
  
      .testimony .container { 
        width: 90%;                 /*don't understand but it wont work without this*/
      }
  
  
      .testimony-img, .testimony-contents {
        width: 48%;
      }
  
      /* FOOTER STYLES */
  
      footer {
        width: 100%;
        align-items: center;
        justify-content: center;
      }
  
      footer .container {
        width: 90%;
        justify-content: space-around;
        text-align: flex-start;
      }
  
      .contact-info, .social-media {
        width: 50%;
        text-align: center;
      }
  
      .contact-info, .social-media, .copy {
        /*padding-top: 50px;*/
      }
  
      /************************ ABOUT ******************************/
  
      /* MISSION */
      .mission {
  
      }
  
      .mission-contents {
        justify-content: space-between;
      }
  
      .mission-contents p {
        width: 45%;             /*This sets the width of the paragraphs in the mission div*/
      }
  
      /* CONTACT US */
  
      .contact-us {
        justify-content: center;      
      }
  
      .contact-us-title {
        width: 100%;
      }
  
      .contact-us .container {
        width: 90%;
      }
    
      .general-info, .chat {
        width: 50%;
      }
  
      /************************ FAQ ******************************/
  
      .questions {
        justify-content: center;
        
      }
  
      .questions .container {
        align-items: flex-start;
      }
  
      .faq-item {
        width: 50%;
      }
  
      .faq-item p, .faq-item h3 {
        width: 80%;
      }
  
    }
  
    /*********************** DESKTOP STYLES ************************************/
  
    @media (min-width: 1200px) {
  
      /* HEADER STYLES */
  
      header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
      }
  
      .header-divider {
        display: none;
      }
  
      .nav {
        width: 48%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
  
      nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
  
      nav ul li {
        padding-left: 40px;
      }
  
      /* FORM STYLES */
  
      .form {
        width: 100%;
        justify-content: center;
      }
  
      .form .container {
        width: 90%;
      }
  
      .form-description, .form-info {
        width: 50%;
        justify-content: space-between;
      }
  
      /* ITINERARY */
  
      .items {
        width: 30%;
      }
  
      .items p {
        width: 55%;
      }
  
      /* TESTIMONIALS */
  
      .testimony-img, .testimony-contents {
        width: 40%;
      }
  
      /* FOOTER */
  
      footer {
        width: 100%;
        align-items: center;
        justify-content: space-around;
      }
  
      .contact-info, .social-media {
        width: 16%;
      }
  
      /************************ ABOUT ******************************/
  
      /* MISSION */
      .mission-contents {
        justify-content: space-between;
      }
  
      .mission-contents p {
        width: 48%;
      }
  
      /* CONTACT US */
  
      .contact-us {
        justify-content: space-around;
      }
        
      .general-info, .chat {
        width: 50%;
      }
  
      /************************ FAQ ******************************/
      .faq-item .container {
        width: 90%;
      }
  
      .questions {
        justify-content: space-around;
      }
      
      .faq-item {
        width: 50%;
      }
    }
  
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  